*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#wrapper{
    height: 690px;
    width: 960px;
    background-color: #ffffff;
    margin: auto;
}

.headertop{
    width: 100%;
    height: 80px;
    background-color: white;
    /* display: inline-block; */
}
.headertop img{
    height: 100px;
    width: 100px;
    display: inline-block;
}
.headertop h1{
    display: inline-block;
    font-size: 45px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 25px;

}

.headertop h1 span{
    color:#22649e
}

.headerbottom{
    width: 100%;
    height: 80px;
    background: linear-gradient(#24659f, #4d80ab, #24659f);

}

.headerbottom h2{
    display: inline-block;
    font-size: 35px;
    color: white;
    margin-left: 15px;
    font-weight: lighter;
    vertical-align: top;
    padding-top: 20px;

}

.sidebar{
    height: 456px;
    width: 199px;
    display: inline-block;
}

.sidebarinfo{
    height: 195px;
    width: 200px;
    background: linear-gradient(#e3e3e3, #ffffff);
    /* order-bottom: 2px solid #b6b6b6; */
}

.sidebarinfo h5{
    padding-top: 15px;
    padding-left: 3px;
}

.sidebarinfo h5 span{
    color:red;
}

.sidebarinfo p{
    padding-top: 15px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: bold;
}

.sidebarinfo p span{
    color:#3470a5
}

.button1 button{
    height: 30px;
    width: 155px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    background: linear-gradient(#6398c3, #28669d);
    border-radius: 5px;
    box-shadow: 2px 2px #888888;
    margin-left: 3px;
    margin-top: 10px;
}

.button2 button{
    height: 30px;
    width: 155px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    background: linear-gradient(#edb567, #f07400);
    border-radius: 5px;
    box-shadow: 2px 2px #888888;
    margin-left: 3px;
    margin-top: 10px;
}

.sidebarinfo2{
    height: 252px;
    width: 167px;
    /* background-color: rebeccapurple; */
    margin-top: -6px;
    border-top: 2px solid #b6b6b6;
}

.ad{
    height: 227px;
    width: 167px;
    background-color: #edb567;
    display: inline-block;
    margin-top: 22px;
}

ad img{
    height: 83px;
    width: 53px;
    padding-left: 10px;
    position: relative;
}

.ad p{
    color: white;
    text-align: center;
    font-weight: normal;
    vertical-align: top;
    margin-top: -216px;
    margin-left: 28px;
    line-height: 20px;
    position: absolute;

}

.ninja img{
    height: 100px;
    width: 67px;
    margin-left: 50px;
    margin-top: -161px;
    position: absolute;
}

.ad button{
    height: 20px;
    width: 135px;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    background: linear-gradient(#79D0E3, #00c1df);
    border-radius: 5px;
    box-shadow: 2px 2px #888888;
    margin-left: 15px;
    margin-top: -48px;
    position: absolute;
}

.maincontent{
    height: 454px;
    width: 760px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

.containerheader{
    height: 58px;
    width: 761px;
    background: linear-gradient(#e4e4e4,#e8e9e8);
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    border-bottom: 1px solid #b8b8b8;
}

.containerheader h6{
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
}

.containerheader a{
    display: inline-block;
    text-decoration: none;
    margin-left: -3px;
    color: #316ca2;
    font-size: 13px;
    vertical-align: top;
    padding-top: 8px;
}

.blankcenter{
    height:55px;
    width:525px;
    /* background-color: slateblue; */
    display: inline-block;
    vertical-align: top;
}

.phone{
    display: inline-block;
}

.phone img{
    vertical-align: top;
    padding-top: 10px;
}

.contactinfo{
    display: inline-block;
}
.contactinfo p{
    font-size: 10px;
}

.contactinfo h3{
    font-size: 22px;
    color:#00c0df;
}

.maincontentinfo{
    height: 150px;
    width: 761px;
    background: linear-gradient(#ececec,#ffffff);
    display: inline-block;
}

.maincontentinfo h3{
    color: #27669e;
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
}

.maincontentinfo p{
    font-size: 13px;
    margin-top: 10px;
}

.maincontentinfo ul{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 39px;
    margin-right: 13px;
}
.maincontentinfo ul li{
    margin-top: 8px;
}

.maincontentimg{
    height: 84px;
    width:761px;
}

.maincontentimg img{
    height: 84px;
    width: 230px;
    padding-left: 267px;
}

.maincontentbottom{
    height: 150px;
    width: 761px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

.maincontentbottom h3{
    color: #27669e;
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
}

.maincontentbottom ol{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 39px;
    margin-right: 13px;
}
.maincontentbottom ol li{
    margin-top: 8px;
}

.footer{
    height: 124px;
    width: 741px;
    background: #0085e0;
    display: inline-block;
    margin-left: 3px;
    box-shadow: 2px 2px 4px #161515;
}   
    
.footinside{
    height: 114px;
    width: 731px;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

.footinside img{
    height: 95px;
    width: 95px;
    padding-top: 10px;
    padding-left: 10px;
}

.lastwords{
    height: 80px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.lastwords h3{
    color: #2b6aa1;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
}

.lastwords p{
    font-size: 13px;
    margin-top: 10px;
    display: inline-block;
    padding-left: 10px;
}

.lastwords p a{
    text-decoration: none;
    color: #0f9cb2;
}


